body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;   
    padding: 0% 8% 0% 8%;
    gap: 20%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titulo_final{
    text-align: center;
}

.jogo_final{
    padding: 3.5%;
    width: 75%;
    margin: -5px 5% 0px 5%;
    border-radius: 5%;
}
.partidas{
    padding: 0% 8% 0% 8%;
}
.semi{
    display: flex;
    background-color: palegreen;
    height: 54dvh;
    border-radius: 30px;
    margin-bottom: 8%;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_form{
    border: none;
    background-color: green;
    border-radius: 14px;
    font-size: medium;
    width: 32%;
    font-family: sans-serif;
}

.form_partidas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card_partida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-body ul{
    margin: 0;
    padding: 0;
}

.card-body li{
    text-decoration: none;
    list-style: none;
}
.checkbox-card-final{
    background-color: antiquewhite;
    box-shadow: 16px -4px 5px #8454;
    border: 1px solid;
    padding: 3%;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.checkbox-card {
    box-shadow: 16px -4px 5px #8454;
    border: 1px solid;
    padding: 3%;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

.checkbox-card:hover,.checkbox-card-final  {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

.card-input:checked + .card-body , .checkbox-card-final{
    border-color: #007bff;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.8);
  }