<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/chaves_camp.css">
    <title>Chaves dos Times</title>
</head>
<body>
    {% extends "base.html" %}

    {% block conteudo %}
    <nav>
        <h1>Chaves dos jogos </h1>

    </nav>

    <p>Semifinais: {{ semi_finais }}</p>

    {% if chave|length == 0 and semi_finais|length == 1 %}
        <style>.final_semifinal,.form_partidas{}</style>
    {% else %}
        <style>.vencedor_campeonato{display: none;}</style>
    {% endif %}

    <section class="vencedor_campeonato">
        {% if chave|length == 0 and semi_finais|length == 1 %}
        <h1 style="color: cadetblue;">Vencedor do campeonato</h1>
            {% for jogador in semi_finais[0][0] %}
            {{ jogador["nome"] }} {% if not loop.last %}&{% endif %}
            {% endfor %}
        {% endif %}
    </section>

    <section class="final_semifinal">
        <div class="final">

            {% if chave|length == 0 and semi_finais|length >= 2 %}
            <div class="titulo_final"><h1 style="color: red;"> Final</h1></div>

            {% elif chave and semi_finais|length == 0%}

                <style>.semi{display: none; position: relative; }</style>

            {% else %}

                <div class="titulo_final"><h1 style="color: blue;">Semi Finais</h1></div>
            {% endif %}

            <div class="partidas">
                <div class="semi">
                    <form action="/campeonato/criar_partida" method="post" class="form_partidas">

                        {% for partida in semi_finais %}
                        <div class="jogo_final">
                        
                            <label class="card_partida checkbox-card-final">
                                <input type="checkbox" name="selecione_os_times" id="{{loop.index-1}}" value="{{loop.index-1}}" class="card-input">
                                <img src="/static/imgs/TI.png" class="card-img-top" alt="..." width="42%">
                                <div class="card-body">
                                    <h5 class="card-title">Partida  {{ loop.index }}</h5>
                                    <ul>
                                        {% for time in partida %}
                                        <li>
                                            {{time[0]['nome']}} & {{time[1]['nome']}}
                                        </li>
                                            {% if not loop.last %} 
                                            <li>vs</li>
                                            {% endif %}
                                        {% endfor %}
                                    
                                    </ul>
                        
                                </div>

                            </label>
                        </div>


                        {% endfor %}

                    
                        <div class="button" >
                            <button class="button_form" type="submit"><h3>Comecar</h3></button>    
                        </div>

                    </form>
                </div>
            </div>
          

        </div>
    </section>

    <main>
        <form action="/campeonato/criar_partida" method="post" class="form_partidas">
             
                {% if chave %}
                {% for grupo in chave %}
                <div class="partida">
                    <label class="card_partida checkbox-card">
                        <input type="checkbox" name="selecione_os_times" id="{{loop.index-1}}" value="{{loop.index-1}}" class="card-input">
                        <img src="/static/imgs/TI.png" class="card-img-top" alt="..." width="42%">
                        <div class="card-body">
                            <h5 class="card-title">Partida {{ loop.index }}</h5>
                            <ul>
                                {% for partida in grupo %}
                                    {% if partida|length == 2 %}
                                    <li>
                                        {{ partida[0]['nome'] }} & {{ partida[1]['nome']}} 
                                    </li>
                                        {% if not loop.last %} 
                                            <li>vs</li>
                                        {% endif %}
                                    {% else %}
                                    <li>
                                        {{ partida[0] }}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </label>
                </div>
                {% endfor %}
            {% endif %}
                          
                <div class="button" method="POST">
                    <button class="button_form" type="submit"><h3>Comecar</h3></button>    
                </div>
          </form>
          
    </main>
    <div class="mensagens">
        {% if erro %}
          <p style="color: red;">{{erro}}</p>
        {% endif %}

        {% if sucesso %}
          <p style="color: green;">{{sucesso}}</p>
        {% endif %}
      </div>

      <div class="semifinais">
        {% for time in semi_finais %}
            {{time}}
        {% endfor %}
      </div>

    {% endblock %}
</body>
</html>