<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Formação de Times - VLC</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/static/css/formacao.css">
  {% extends 'base.html' %}
  
  {% block conteudo %}
  <link rel="stylesheet" href="/static/css/formacao.css">

</head>
<body>

  <div class="top-nav">
    <button class="btn">AMISTOSO</button>
    <button class="btn">CAMPENONTO</button>
  </div>

  <div class="formacao">FORMAÇÃO</div>

  <div class="group-btns grupos">
    <button type="button" class="btn btn-dark" data-group='dupla'>DUPLA</button>
    <button type="button" class="btn btn-dark" data-group='trio'>TRIO</button>
    <button type="button" class="btn btn-dark" data-group='seis'>SEIS</button>
  </div>
  
    <div class="erro" style="color: red;text-align: center; margin-top: 2%;">
        {% for erro in erro %}
          {{erro}}
        {% endfor %}
    </div>

  <div class="container-boxes">

    <div class="add-player-box">
      <h2>ADICIONAR JOGADOR</h2>
      <form class="form_time" action method="POST">
        <label for="nome" class="nome_form">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Nome" required />
        <button type="submit">INICIAR</button>
      </form>
    </div>


    <section class="Times"> 
      <form action="/times/limpar_times" method="post" class="form-times">
        <button type="submit" class="btn btn-danger limpar-times">Limpar Times</button>
      </form>

      <div class="teams-box">
        <h3>TIMES!</h3>
        <ul>
          {%if nomes%}
              {% for nome in nomes %}
          <li> <h4><strong>{{ nome }}</strong></h4> </li>
              {% endfor %}
          {% endif %}
        </ul>
      </div>

    </section>

  </div>

    <div>
        <form action="/times/">
           <button class="btn btn-primary">Formar</button>
        </form>
    </div>
   <script src="/static/js/formacao.js"></script>

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>