<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/partida.css">
    <title>Partida Amistoso</title>

</head>

{% extends "base.html" %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/partida.css">
<body>
<main>
    <div class="header">
        <h1>Quantidade de Pontos</h1>
    
        {% if not limite or limite == 0 %}
          <form class="form_limite" action="/partidas/pontos" method="post">
            <input type="hidden" name="action" value="limtie_pontos">
            <input type="number" name="ponto_limite">
            <button class="limite_submit" type="submit">Enviar</button>
          </form>
        {% else %}
          <h2 style="color: green;">Limite: {{ limite }}</h2>
        {% endif %}
    </div>

    <div class="msg">
        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}
        {% if sucesso %}
            <p class="sucesso">{{ sucesso }}</p>
        {% endif %}
    </div>
    
    <section class="principal">
    <div class="pontos-container">
        <!-- Time A -->
        <div class="time-box">
            <img src="/static/imgs/TI.png" alt="Time A">
            <h1>{{ pontos1 }}</h1>

            <div>
            {% for jogador in times[0] %}
                <div class="jogador-linha">
                <h3>{{ jogador["nome"] }}</h3>
                <div class="jogador-botoes">
                    <form action="/partidas/pontos" method="post" style="display:inline;">
                    <input type="hidden" name="action" value="atualizar_pontos">
                    <button type="submit" class="btn btn-warning" name="btn_valorA" value="-1">-</button>
                    </form>
                    <form action="/partidas/pontos" method="post" style="display:inline;">
                    <input type="hidden" name="action" value="atualizar_pontos">
                    <button type="submit" class="btn btn-primary" name="btn_valorA" value="1">+</button>
                    </form>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>


        <div class="versus">VS</div>

        <!-- Time B -->
        <div class="time-box">
            <img src="/static/imgs/TI.png" alt="Time B">
            <h1>{{ pontos2 }}</h1>

            <div>
            {% for jogador in times[1] %}
                <div class="jogador-linha">
                <h3>{{ jogador.nome }}</h3>
                <div class="jogador-botoes">
                    <form action="/partidas/pontos" method="post" style="display:inline;">
                    <input type="hidden" name="action" value="atualizar_pontos">
                    <button type="submit" class="btn btn-warning" name="btn_valorB" value="-1">-</button>
                    </form>
                    <form action="/partidas/pontos" method="post" style="display:inline;">
                    <input type="hidden" name="action" value="atualizar_pontos">
                    <button type="submit" class="btn btn-primary" name="btn_valorB" value="1">+</button>
                    </form>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- Botões de controle -->
    <div class="botoes">
        <form action="/partidas/comecar_partida" method="post">
        <button type="submit" class="btn btn-success btn-lg">Começar</button>
        </form>

        <form action="/partidas/reiniciar_partida" method="post">
        <button type="submit" class="btn btn-danger btn-lg">Reiniciar</button>
        </form>
    </div>
    </section>

     
    <!-- Mensagens de erro/sucesso -->
   
</main>


    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>