<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}Título Padrão{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</head>
<body>
    <h1>AAAAAAAA</h1>
    <button type="button" class="btn btn-warning"  aria-labelledby=".fade">Warning</button>
    <section>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#aa">Abrir</button>

        <div class="modal fade" id="aa" data-bs-backdrop="static" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">Confirmar Formação dos Times</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Há um número ímpar de times. Você tem certeza de que deseja continuar?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" id="confirmContinue" class="btn btn-primary">Continuar</button>
                </div>
              </div>
            </div>
          </div>
          
          
            
    </section>

    <main>
        <div id="carouselExample" class="carousel slide" style="   width: 37%;align-items: center;margin: auto;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/imgs/persona1.jpg" class="d-block w-100" alt="/chave_teste/static/imgs/persona1.jpg">
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/persona1.jpg" class="d-block w-100" alt="/chave_teste/static/imgs/persona1.jpg">
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/persona1.jpg" class="d-block w-100" alt="/chave_teste/static/imgs/persona1.jpg">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </main>

    <!-- Conteúdo dinâmico -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    {% block conteudo %}
    {% endblock %}
</body>
</html>
