{% extends "base.html" %}
{% block conteudo %}

<link rel="stylesheet" href="/static/css/times.css">

<div class="header-amistoso">
  <h1>Selecionar Times para Amistoso</h1>
</div>

<div class="quantidade-times">
  <p>Quantidade de Times: {{ times|length }}</p>
</div>

<div class="mensagens">
  {% if erro %}
  <p style="color: red;">{{ erro }}</p>
  {% endif %}
  {% if sucesso %}
  <p style="color: green;">{{ sucesso }}</p>
  {% endif %}
</div>

<form action="/partidas/criar_partida" method="post">
  <div class="grid-times">
    {% for time in times %}
    <div class="card-time">
      <input type="checkbox" id="time-{{ loop.index0 }}" name="selecione_os_times" value="{{ loop.index0 }}">
      <label for="time-{{ loop.index0 }}">
        <img src="/static/imgs/TI.png" alt="Time {{ loop.index }}">
        <h5>Time {{ loop.index }}</h5>
        <ul>
          {% for jogador in time %}
          <li>{{ jogador.nome }}</li>
          {% endfor %}
        </ul>
      </label>
    </div>
    {% endfor %}
  </div>

  <button type="submit" class="btn-submit">Iniciar Partida</button>

</form>

<script>
  const cards = document.querySelectorAll(".card-time");

  cards.forEach(card => {
    const checkbox = card.querySelector('input[type="checkbox"]');

    checkbox.addEventListener("change", () => {
      card.classList.toggle("checked", checkbox.checked);
    });
  });
</script>

{% endblock %}
