<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/winner.css">
    <title>Vencedor Amistoso</title>
</head>
<style>
    .g-4, .gx-4 {
        --bs-gutter-x: 0rem;
    }
</style>
<body>
    {% extends "base.html" %}

    {% block conteudo %}

    <div class="winner-container">
      <div class="winner-header">
      
        <h1> 🏅 WINNER da Partida!</h1>

        <div class="trophy-icon">
          <i class="bi bi-trophy-fill"></i>
        </div>
      </div>

      <div class="winner-card mt-4">
        <div class="winner-label">Jogador(es) Campeão(ões):</div>
        {%  for jogador in vencedor %}
          <div class="winner-name">
            {{jogador.nome}}
          </div>
        {% endfor %}
      </div>

      <form class="iniciar_partida" action="/times" method="post">
        <button type="submit" class="next-button">Proxima partida</button>

      </form>
      

    </div>

    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>