{% extends "base.html" %}

{% block conteudo %}

<p>Semifinais: {{ semi_finais }}</p>
<p>Chaves: {{ chave }}</p>

<section class="vencedor_campeonato text-center mt-4">
    {% if chave|length == 0 and semi_finais[0]|length == 1 %}
        <h1 style="color: cadetblue;">🏆 Vencedor do Campeonato 🏆</h1>
        <h3>
            {% for jogador in semi_finais[0][0] %}
                {{ jogador["nome"] }}{% if not loop.last %} & {% endif %}
            {% endfor %}
        </h3>
    {% else %}
        <h1 style="color: cadetblue;">🏆 Final do Campeonato 🏆</h1>
    {% endif %}
</section>

<div class="partidas mt-5">
    <div class="semi">
        <form action="/campeonato/criar_partida" method="post" class="form_partidas">
            {% for partida in semi_finais %}
                <div class="jogo_final">
                    <label class="card_partida checkbox-card-final">
                        <input type="checkbox" name="selecione_os_times" id="{{ loop.index0 }}" value="{{ loop.index0 }}" class="card-input">
                        <img src="/static/imgs/TI.png" class="card-img-top" alt="..." width="42%">
                        <div class="card-body">
                            <h5 class="card-title">Partida {{ loop.index }}</h5>
                            <ul>
                                {% for time in partida %}
                                    <li>
                                        {% for jogador in time %}
                                            {{ jogador["nome"] }}{% if not loop.last %} & {% endif %}
                                        {% endfor %}
                                    </li>
                                    {% if not loop.last %}<li>vs</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </label>
                </div>
            {% endfor %}

            {% if chave|length == 0 and semi_finais|length == 1 and semi_finais[0]|length != 1 %}
                <div class="button text-center mt-4">
                    <button class="button_form btn btn-success" type="submit"> <h3>Começar</h3></button>
                </div>
            </form>
            {% else %}
                <form action="/campeonato/verificar" method="post">
                    <div class="button text-center mt-4">
                        <button class="button_form btn btn-success" type="submit"><h3>Começar outro Campeonato</h3></button>
                    </div>
                </form>
            {% endif %}
    </div>
</div>

<p>Semifinais: {{ semi_finais }}</p>
<p>Chaves: {{ chave }}</p>

{% endblock %}
