<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campeão!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/css/winner_campeonato.css">
</head>
<body>
  {% extends "base.html" %}
  {% block conteudo %}

  <div class="winner-container">
    <div class="winner-header">
      {% if vencedor %}
        🏅 WINNER da Partida!
      {% else %}
      🏆 WINNER do CAMPEONATO!
      {% endif %}

      <div class="trophy-icon">
        <i class="bi bi-trophy-fill"></i>
      </div>
    </div>



    <div class="winner-card mt-4">
      <div class="winner-label">Jogador(es) Campeão(ões):</div>
      {% for jogador in vencedor %}
        <div class="winner-name">
          {{ jogador|replace("& {'nome': '", "")|replace("'}", "")|replace("{'nome': '", "") }}
        </div>
      {% endfor %}
    </div>

    <div class="mt-4">
      {% if chave|length == 0 %}
          {% if semi_finais and semi_finais|length == 1 and semi_finais[0]|length == 1 %}
              <!-- CAMPEONATO ENCERRADO -->
              <form action="{{ url_for('campeonato_route.home') }}" method="get">
                  <button class="next-button">Novo Campeonato</button>
              </form>
          {% else %}
              <!-- Aguardando mais partidas -->
              <form action="{{ url_for('campeonato_route.proxima_partida') }}" method="post">
                  <button class="next-button">Próxima Partida</button>
              </form>
          {% endif %}
      {% else %}
          <form action="{{ url_for('campeonato_route.proxima_partida') }}" method="post">
              <button class="next-button">Próxima Partida</button>
          </form>
      {% endif %}
    </div>


  </div>

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
